<tr class="bg-slate-300">
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"></td>
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-700"><%= answer.answer_text %></td>
  <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-700"><%= format_date answer.created_at %></td>
</tr>
